<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products | Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/asset/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/asset/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/asset/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/asset/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/asset/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/asset/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/asset/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/asset/images/favicon.png" />
    <!-- Custom css for this page -->
    <!-- <link rel="stylesheet" href="/admin/custom-css/admin-products.css"> -->
    <!-- End custom css for this page -->
    <!-- Custom js for this page -->
    <script src="/admin/custom-js/admin-products.js" defer></script>
    <!-- End custom js for this page -->
</head>
<body>

    <div class="container-scroller">
        <div class="row p-0 m-0 proBanner" id="proBanner">
            <div class="col-md-12 p-0 m-0">
                <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
                    <div class="ps-lg-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
                            <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/" target="_blank" class="btn me-2 buy-now-btn border-0">Buy Now</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i class="mdi mdi-home me-3 text-white"></i></a>
                        <button id="bannerClose" class="btn border-0 p-0">
                            <i class="mdi mdi-close text-white mr-0"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar starts here -->
        <%- include('./layouts/navbar.ejs') %>
        <!-- Navbar ends here -->

        <div class="container-fluid page-body-wrapper">
            <!-- Sidebar starts here -->
            <%- include('./layouts/sidebar.ejs') %>
            <!-- Sidebar ends here -->

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-cart"></i>
                            </span> Product List
                        </h3>
                    
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Product List</h4>
                                    <div class="msg-box">
                                        <p class="msg-para"></p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Size</th>
                                                    <th>Colors</th>
                                                    <th>Category</th>
                                                    <th>Status</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% products.forEach((product, index ) => {  %>
                                                <tr>
                                                    <td><%= index + 1 %></td>
                                                    <td><%= product.name %></td>
                                                    <td><%= product.price %></td>
                                                    <td><%= product.quantity %></td>
                                                    <td><%= product.size %></td>
                                                    <td><%= product.color %></td>
                                                    <td><%= product.category?.categoryName || 'No category' %></td>
                                                   

                                                   
                                                    <td class="user-status <%= product.status ? 'text-success' : 'text-danger' %>">
                                                        <span>
                                                            <% if(product.status){ %> Listed
                                                            <%} else { %> Unlisted <% } %>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <button class="btn bg-gradient-primary btn-sm btn-list" data-product-id="<%= product._id %>">List</button>
                                                        <button class="btn bg-gradient-secondary btn-sm btn-unlist" data-product-id="<%= product._id %>">Unlist</button>
                                                        <button class="btn bg-gradient-warning btn-sm btn-edit" data-product-id="<%= product._id %>">Edit</button>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/asset/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/asset/vendors/chart.js/chart.umd.js"></script>
    <script src="/asset/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/asset/js/off-canvas.js"></script>
    <script src="/asset/js/misc.js"></script>
    <script src="/asset/js/settings.js"></script>
    <script src="/asset/js/todolist.js"></script>
    <script src="/asset/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/asset/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    
</body>
</html>
