<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./layouts/head.ejs') %>
    <link rel="stylesheet" href="/user/custom-css/order-detail.css">
    
</head>
<body>
    <div class="page-wrapper">
        <%- include('./layouts/header-2.ejs') %>
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/dashboard#orders">Orders</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order</li>
                    </ol>
                </div>
            </nav>

            <div class="error-content text-center">
                <div class="container p-5 border rounded">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div><h4 class="mb-0" style="color: #c96;">Order Details</h4></div>
                        <div>OrderId: <%= order._id %></div>
                    </div>

                    <!-- Header Row -->
                    <div class="order-header">
                        <div>Image</div>
                        <div>Product Name</div>
                        <div>Product Quantity</div>
                        <div>Total Price</div>
                        <div>Status</div>
                    </div>

                    <!-- Product Items -->
                    <% order.products.forEach((product) => { %>
                        <div class="product-item">
                            <div><img src="/products/<%= product.productId.images[0] %>" alt="Product Image" class="img-fluid"></div>
                            <div><span><%= product.productId.name %></span></div>
                            <div><span><%= product.quantity %></span></div>
                            <div><span><b>₹<%= product.productTotalPrice %></b></span></div>
                            <div class="item-order-status" data-order-id="<%= order._id %>" data-product-id="<%= product.productId._id %>">
                                <% if(order.pending){ %>
                                    <h6 class="text-danger">Payment Pending</h6>
                                    <button class="btn btn-warning btn-item-order" id="btn-reorder" type="button" onclick="payAgain(event)" data-order-id="<%= order._id %>">Order</button>
                                <% } else if(product.orderValid && !product.orderStatus && !product.returned){ %>
                                    <h6 class="text-success">Arriving</h6>
                                    <button class="btn btn-warning btn-sm btn-item-cancel" data-product-id="<%= product.productId._id %>">Cancel</button>
                                <% } else if(!product.orderValid && product.orderStatus && !product.returned){ %>
                                    <h6 class="text-success">Delivered</h6>
                                    <button class="btn btn-danger btn-sm btn-item-return" data-product-id="<%= product.productId._id %>">Return</button>
                                <% } else if(!product.orderValid && !product.orderStatus && !product.returned){ %>
                                    <h6 class="text-danger">Cancelled</h6>
                                <% } else if(!product.orderValid && !product.orderStatus && product.returned){ %>
                                    <h6 class="text-danger">Returned</h6>
                                <% } else { %>
                                    <h6 class="text-danger">...</h6>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>

                    <div class="order-summary mt-4">
                        <div class="address">
                            <%= order.address.name %>, 
                            <%= order.address.email %>, 
                            <%= order.address.phone %>, 
                            <%= order.address.pincode %>, 
                            <%= order.address.state %>, 
                            <%= order.address.country %>, 
                            <%= order.address.altphone %>, 
                            <%= order.address.city %>, 
                            <%= order.address.landmark %>
                            <% if(order.orderNotes) { %>
                                <br>Notes: <%= order.orderNotes %>
                            <% } %>
                        </div>
                        <div class="payment-details">
                            <div>Payment Method: <%= order.paymentMethod %></div>
                            <div>Order Date: <%= new Date(order.orderDate).toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'short' }) %></div>
                            <% if(order.couponUsed) { %>
                                <div>Coupon: <%= order.couponUsed %></div>
                            <% } %>
                            <div><b>Total Price: ₹<%= order.totalPrice %></b></div>
                            <% if(!order.pending) { %>
                                <div><button id="btn-invoice" type="button" class="btn btn-primary" data-order-id="<%= order._id %>">Download Invoice</button></div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./layouts/footer-white.ejs') %>
    </div>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <div class="mobile-menu-overlay"></div>
    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                    </li>
                    <li>
                        <a href="product.html">Product</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                    </li>
                </ul>
            </nav>
            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/main.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/user/custom-js/order-details.js"></script>
</body>
</html>
