<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Zeekon</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css?v=3.4">
    <link rel="stylesheet" href="/user/custom-css/product-detail.css">
</head>

<body>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> <a href="/product-list" rel="nofollow">Product</a>
                    <span></span> Default
                </div>
                
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider" id="product-img">
                                            <% product.images.forEach( (item, index ) => { %>
                                                <figure class="border-radius-2">
                                                    <img class="img-fluid" src="/products/<%= item %>" alt="product image">
                                                </figure>
                                            <% }); %>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <% product.images.forEach( (item, index ) => { %>
                                                <a class="product-gallery-item active" href="#" data-image="/products/<%= item %>">
                                                    <img class="img-thumbnail" src="/products/<%= item %>">
                                                </a>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%= product.name %></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="#">Zeekon</a></span>
                                            </div>
                                          
                                        </div>
                                       
                                        <div class="product-price primary-color float-left" style="font-size: 28px; font-weight: 800; color: #088178;">
                                            <% if( product.actualPrice === product.discountPrice){ %>
                                                ₹<%= product.actualPrice %>
                                            <% }else { %> 
                                                <ins><span class="text-brand">  ₹<%= product.discountPrice %></span></ins>
                                                <span style="font-size: 13px; padding-right: 10px;"><s>₹<%= product.actualPrice %></s></span>
                                            <% } %>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p><%= product.description %></p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10"><p> Colour :   <% product.color.forEach((item, index) => { %>
                                                <span><%= item %></span></p>
                                            <% }) %> </strong>
                                        </div>
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                                <li><a href="#">S</a></li>
                                                <li class="active"><a href="#">M</a></li>
                                                <li><a href="#">L</a></li>
                                                <li><a href="#">XL</a></li>
                                                <li><a href="#">XXL</a></li>
                                            </ul>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>

                                        <div class="detail-extralink">
                                            <div class="product-extra-link2">
                                                <% if (product.quantity> 0) { %>
                                                    <button type="submit" class="button btn-add-cart" data-product-id="<%= product._id %>"> add to cart </button>
                                                <% } else { %>
                                                    <a class="btn-product no-underline" style="background-color: #cc333363; width: 100px; height: 50px;" >
                                                        <span class="text-danger font-weight-bold no-underline" >Out of stock</span>
                                                    </a>
                                                <% } %>
                                                <a class="btn-product btn-wishlist" title="Wishlist"data-product-id="<%= product._id %>" aria-label="Add To Wishlist" class="action-btn hover-up">
                                                    <i class="fi-rs-heart"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div id="alertMessageError" style="display:none; color: red;"></div>
                                        <div id="alertMessageSuccess" style="display:none; color: green;"></div>
                                        
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li>Availability:<span class="in-stock text-success ml-5">
                                                <div class="product-stock">
                                                    <% if (product.quantity > 0) { %>
                                                        <span class="in-stock">In Stock (<%= product.quantity %> available)</span>
                                                    <% } else { %>
                                                        <span  class="text-danger font-weight-bold no-underline" >Out of Stock</span>
                                                    <% } %>
                                                </div></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Details</h2>
                                    <div class="description mb-50">
                                        <div class="details-box">
                                            <ul class="product-details-list">
                                                <% product.details.split('\n').forEach(detail => { %>
                                                    <li><%= detail.trim() %></li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <h3>Zeekon</h3>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-nav wow fadeIn animated  mb-md-5 mb-lg-0">
                            <h5 class="mb-10  fw-600 text-grey-4">About</h5>
                            <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Support Center</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-nav wow fadeIn animated mb-lg-0">
                            <h5 class="mb-10  fw-600 text-grey-4">My Account</h5>
                            <ul class="footer-list wow fadeIn animated">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help Ticket</a></li>
                                <li><a href="#">Shipping Details</a></li>
                                <li><a href="#">Compare products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <div class="loadingspinner">
                        <div class="ldio-mmf5mnbwmd">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <h5>Now Loading</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js?v=3.4"></script>
    <script src="assets/js/shop.js?v=3.4"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/user/custom-js/product-detail.js"></script>
</body>

</html>
